adapters2.bed
adapters2.blast
adapters2.fa

nt.fa
nt.gz
nt.gz.md5
nt.nal
nt.*.nhr
nt.*.nin
nt.*.nsq
makeblastdb.log
DATE

acc2taxid.txt
nucl_gb.accession2taxid.gz
nucl_gb.accession2taxid.gz.md5
nucl_wgs.accession2taxid.gz
nucl_wgs.accession2taxid.gz.md5
taxdump.tar.gz
taxdump.tar.gz.md5
citations.dmp
delnodes.dmp
division.dmp
gc.prt
gencode.dmp
merged.dmp
names.dmp
nodes.dmp
readme.txt

nt.*.cf
nt.tree
log2.txt

contSeqs.txt
acc2taxid2.txt
names2.dmp
nodes2.dmp
